ClienteNETCSharp/ClienteNETCSharp/Connected Services/ServicioWebSOAPReceta/WSReceta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws/" targetNamespace="http://ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buscarReceta" type="tns:buscarReceta" />
  <xs:element name="buscarRecetaResponse" type="tns:buscarRecetaResponse" />
  <xs:element name="listarIngredientes" type="tns:listarIngredientes" />
  <xs:element name="listarIngredientesResponse" type="tns:listarIngredientesResponse" />
  <xs:complexType name="listarIngredientes">
    <xs:sequence>
      <xs:element minOccurs="0" name="receta" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarIngredientesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarReceta">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarRecetaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>